# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# MSTest results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Rider
.idea/

# User-specific files
*.rsuser
*.DotSettings.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
